@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-slate-700;
  }
  body {
    @apply bg-[#0f172a] text-slate-100;
  }
}
